.taskContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.5rem;  
    color: var(--gray-100);
    width: 755px;
    margin: 1rem auto;
}

