.container {
    display: flex;
    justify-content: space-between;
    width: 810px;
    margin: 0 auto;
    padding: 2rem;
    gap: 1rem;
  }
  
  .status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .status button {
    margin-right: 0.5rem;
    background-color: var(--gray-400);
    color: var(--gray-200);
    border: none;
    border-radius: 8px;
    padding: 2px 8px 2px 8px;
    
  }
  
  .created {
    color: var(--blue);
  }
  
  .concluded {
    color: var(--purple);
  }

  